@page "/"
@rendermode InteractiveServer

@using MermaidJS.Blazor



<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<input @bind="newValue" @bind:event="oninput" @onkeydown="HandleKeyDown" placeholder="Enter a number" />
<button @onclick="AddValue">Add to Tree</button>

@if (postrender){
    <MermaidDiagram Definition=@treediagram  />
}

<br /> <textarea readonly rows="10" cols="50">@treediagram</textarea>

@code {

    bool postrender = false;
    private BinaryTree tree = new BinaryTree();
    private string newValue = "";

    private string treediagram = @"test";

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddValue();
        }
    }

    private void AddValue()
    {
        if (int.TryParse(newValue, out int value))
        {
            tree.Insert(value);
            newValue = "";
        }
        treediagram = tree.ToMermaid();
        if (!postrender)
        {
            postrender = true;
        }
    }

    protected override void OnInitialized()
    {
        //postrender = true;
    }



}